
body{
    background-color:thistle
}
h1{
    background-color:#2B2B2B;
    text-align:center;
    border:purple 3px solid;
    padding:5px;
    box-shadow: 5px 5px;
}
h2{
    text-decoration: gold 3px underline;
    background-color:white;
    color:#8A6815;
}
p{
    color:#454545;
    background-color:#E8D9E8;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;

}
ul{
    background-color:#E8C0E8;
    color:#2D2D48;
    border:purple 3px solid;
    border-radius: 10px;
    font-size:18px;
}
